<div class="container">
  <div class="row" id="filtry">
    <div class="col-3">Filtry</div>
    <div class="col-9">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <label for="year">Rok: </label>
            <select name="year" id="year">
              <option value="null">Wszystkie</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="month">Miesiąc: </label>
            <select name="month" id="month">
              <option value="null">Wszystkie</option>
              <option value="1">Styczeń</option>
              <option value="2">Luty</option>
              <option value="3">Marzec</option>
              <option value="4">Kwiecień</option>
              <option value="5">Maj</option>
              <option value="6">Czerwiec</option>
              <option value="7">Lipiec</option>
              <option value="8">Sierpień</option>
              <option value="9">Wrzesień</option>
              <option value="10">Październik</option>
              <option value="11">Listopad</option>
              <option value="12">Grudzień</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="podsumowanie">
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <th scope="row">Podsumowanie</th>
          <td>Przychód: {{daneDoTabeli.przychodCalkowity}} zł</td>
          <td>Średnio dziennie: {{daneDoTabeli.sredniaDziennie}} zł</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" id="tabela">
    <div class="col">
        <table class="table table-sm table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Cena</th>
            <th scope="col">Miesięczny przyrost</th>
            <th scope="col">Całkowity przyrost</th>
            <th scope="col">Usuń</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let przychod of daneDoTabeli.przychodyDoTabeliList">
            <td>{{przychod.data}}</td>
            <td>{{przychod.kwota}} zł</td>
            <td>{{przychod.kwotaNarastajacoMiesiecznie}} zł</td>
            <td>{{przychod.kwotaNarastajacoOdPoczatku}} zł</td>
            <td><button class="btn btn-danger" (click)="usun(przychod.id)">USUŃ</button></td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>


